<html>
  <head>
    <title>milan's blog</title>
    <link rel ="stylesheet" href="./styles.css">
  </head>
  <body>
    <h1>welcome to milan's blog</h1>
    <h2>about me</h2>
      <div>hello! i am a sophomore at harvard college studying computer science and physics. i'm originally from san jose, ca. (go warriors!).
         this is my blog. hope you enjoy learning a bit more about me. take care. 
      </div>
      <br>
      <div class="polaroid">
          <img src="IMG_4045.jpeg" style="width:100%">
          <div class="container">
          <p>me!</p>
          </div>
      </div>
    <h2>my blog posts</h2>

    <div>
      <a href = "post_one.html">
        blog post number one<br>
    </div>
    <div>
      <a href = "post_two.html">
          blog post number two<br>
        </a>
    </div>
    <div>
        <a href = "post_three.html">
            blog post number three<br>
          </a>
    </div>
      
   

  </body>
</html>
