<html>
    <head>
        <title>blog post one</title>
        <link rel ="stylesheet" href="./styles.css">
    </head>
    <body>
        <h1>winter vacation 18<h1>
        <h2>spent time with my family</h2> 

        <div class="polaroid">
            <img src="IMG_4832.jpeg" style="width:100%">
            <div class="container">
            <p>grandma and milan <3</p>
            </div>
        </div>
        <div class="polaroid">
            <img src="IMG_4855.JPG" style="width:100%">
            <div class="container">
            <p>aj and milan <3</p>
            </div>
        </div>
        <div class="polaroid">
            <img src="IMG_4788.jpeg" style="width:100%">
            <div class="container">
            <p>ryan and milan <3</p>
            </div>
        </div>

    </body>
</html>