<html>
    <head>
        <title>blog post two</title>
        <link rel ="stylesheet" href="./styles.css">
    </head>
    <body>
        <h1>harvard course schedule 19</h1>
        <table>
            <tr>
                <th>course name</th>
                <th>time</th>
                <th>reviews/workload</th>
            </tr>
            <tr>
                <th>cs 124</th>
                <th>mon/wed 10:30am-11:45</th>
                <th>20 hrs / week</th>
            </tr>
            <tr>
                <th>quantum computing</th>
                <th>tues/thurs 12-1:15</th>
                <th>10 hrs / week</th>
            </tr>
            <tr>
                <th>spanish 20</th>
                <th>mon/wed/fri 9-10:15</th>
                <th>5 hrs / week</th>
            </tr>
            <tr>
                <th>tdm 97</th>
                <th>tues 9-11:45</th>
                <th>3 hrs / week</th>
            </tr>
        </table>
    </body>
</html>